/* DOCUMENT SETTING */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
html {
  line-height: 1.29;
  font-size: 13px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: inherit;
  color: #4f4f4f;
  font-size: 1rem;
}


a,
p {
  color: #4f4f4f;
}

a {
  text-decoration: none;
}


h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 6px 0;
}

section,
main {
  padding: 100px;
}

/* CUSTOM ROW/COLUMN GRID */
.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/*----------Navbar----------*/

.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.2s ease-in all;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  z-index: 9999;
}

.header.changed {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  padding: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.brand a {
  color: #fff;
  font-size: 1.188rem;
  text-transform:uppercase;
  font-weight: 600;
}
#navbar > .nav-item {
  margin: 0 10px;
}

#navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
}

#navbar a::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: transparent;
  margin: 6px auto 0;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  transition: 0.1s ease-out all;
}

#navbar a.active::after {
  background: #4f4f4f;
}

#navbar .nav-item .nav-icon {
  background-color: #ffffff;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#navbar .nav-item .nav-icon a {
  color: #4071fa;
  transition: 0.2s all ease-in;
}

#navbar .nav-item .nav-icon:hover a {
  color: #3e4044;
}

.header.changed a,
.header.changed #navbar a {
  color: #4f4f4f;
}

/*----------Inicio----------*/

.banner {
  background:url(img.jpg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  min-height:100vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  min-width:100%;
  height:100vh;
}
.banner .inicio_content{
  padding-top:60px;
}
.banner .inicio_content{
  z-index:10;
  color:#fff;
}
.banner .inicio_content h2 {
  font-size:2em;
  font-weight:700;
  line-height:1.5em;
}
.banner .inicio_content h3 { 
  padding-top:20px;
  padding-bottom:20px;
  font-size:1.3em;
  font-weight:600;
  line-height:1.5em;
  width:50%;
}
.banner .inicio_content h3, .banner .inicio_content .btn{
  margin-top:20px;
}
.btn {
  transition: 0.2s all ease-in;
  background:#0008;
  position:relative;
  display:inline-block;
  color:#fff;
  margin-top:20px;
  padding:10px 30px;
  font-size:18px;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:1px;
  font-weight:600;
  border: 1px solid #fff;
  border-radius:18px;
}
.btn:hover{
  background:#000;
}


/*----------AcercaDe----------*/
.white{
  color:#fff;
}
.acerca{
  background:#158;
  height:100vh;
  align-items:center;
}
.heading {
  width:100%;
  text-align:center;
  margin-bottom:30px;
  color:#111;
}
.heading h2{
  font-weight:600;
  font-size:30px;
}
.content{
  display:flex;
  justify-content:space-between;
}
.contentBx{
  width:100%;
  padding-right:30px;
}
.contentBx h3{
  font-size:24px;
  margin-bottom:10px;
}
.contentBx p{
  font-size:16px;
  text-indent:16px;
  color:#fff;
}
.w50{
  min-width:50%;
}
img {
  max-width:100%;
}

/*----------Contacto----------*/
.contacto .content{
  width:70%;
  margin:auto;
  text-align:center;
}
.contacto .content{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  flex-direction:row;
}
.contacto .content .servicesBx{
  padding:40px 20px;
  background:#1112;
  color:#fff;
  width:240px;
  margin:20px;
  text-align:center;
  transition:0.5s;
  border:1px solid #111;
}
.contacto .content .servicesBx i{
  font-size:80px;
  color:#111;
}
.contacto .content .servicesBx h2{
  font-size:20px;
  font-weight:600;
}
.whatsapp{
  background:#25d366;
}
.facebook{
  background:#3b5998;
}
/*----------Galeria------------*/
.galeria{
  margin:0;
  padding:0;
}
.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    background:#aaa;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    color:#000;
}

.contenido-slider:nth-child(2){
    background: #114;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #119;
    color:#fff;
}

.contenido-slider > img{
    width: 200px;
}
.invert{
  filter:invert(1);
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    font-size:24px;
}

.contenido-slider a{
    color: #fff;
    background: #158;
    width: 100px;
    display: inline-block;
    text-align:center;   
    padding: 15px 0;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(3) a{
    background: #fff;
    color: #158;
    
}
.contenido-slider:nth-child(2) a{
    background: #119;
    color: #fff;
}
.contenido-slider a:hover{
  background:#000;
  color:#fff;
}
[data-scroll] {
  transition:all 0.5s;
}
[data-scroll="in"]{
  opacity:1;
  transform:translateX(0);
}
[data-scroll="out"]{
  opacity:0;
  transform:translateX(-200px);
}

/*----------Responsive---------*/
@media screen and (max-width:900px){
    .contacto .content .servicesBx{
      padding:20px;
      width:160px;
      margin:10px;
    }
    .contacto .content .servicesBx i{
      font-size:50px;
      color:#111;
    }
    .contenido-slider > img{
        width: 150px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 90%;
    }
    .contenido-slider h2{
        padding-top:10px;
    }
}
@media (max-width:991px){
  .banner .inicio_content h3 {
    width:70%;
    font-size:15px;
  }

  header, header.sticky{
    padding:20px 50px;
    z-index:1000;
  }
  
  header ul li a{
    color:#111;
    font-size:24px;
    margin:10px;
  }
  section{
    padding:100px 50px;
  }
  .banner{
    padding:150px 50px 100px;
  }
  .banner h2{
    max-width:80%;
    font-size:1.5em;
  }
  .banner h3{
    max-width:80%;
    font-size:0.9em;
  }
  .btn{
    margin-top: 10px;
    padding:10px 20px;
    font-size:13px;
    font-weight:500;
  }
  .heading h2{
    font-size:24px;
  }
  .contentBx h3{
    font-size:20px;
  }
  .content{
    flex-direction:column;
  }
  .contacto{
    flex-direction:column;
  }
  .w50{
    margin-bottom:20px;
  }
  .services .content .servicesBx{
    margin:10px;
  }
  .work .content .servicesBx{
    margin:10px;
    max-width:360px;
  }
  .formBx{
    margin:0;
  }
}

@media (max-width: 600px){
  .btn{
    margin-top: 5px;
    padding:5px 10px;
    font-size:12px;
    font-weight:500;
  }

  header, header.sticky{
    padding:20px 20px;
  }
  .banner{
    padding:150px 20px 100px;
  }
  section{
    padding:70px 20px;
  }
  .banner h2{
    font-size:1.2em;
    max-width:70%;
  }
  .banner h3{
    max-width:70%;
    font-size:0.7em;
  }
  .contentBx p{
    font-size:13px;
  }
}
@media (max-width: 550px){
  .contentBx p{
    font-size:12px;
  }
}
@media (max-width: 500px){
  .contentBx h3{
    font-size:16px;
    margin-bottom:5px;
  }
 .contentBx p{
    font-size:11px;
 } 
  .heading h2{
    font-size:20px;
  }
  .heading{
    margin-bottom:10px;
  }
}
@media (min-width:1150px){
  .contentBx p{
    font-size:20px;
  }
}
@media all and (min-width: 570px) {
  h1 {
    font-size: 5rem;
  }

  html {
    font-size: 14px;
  }

  .main-container {
    max-width: 540px;
    padding: 0px;
  }

}

@media all and (min-width: 760px) {
  html {
    font-size: 15px;
  }

  .main-container {
    max-width: 720px;
  }

}

@media all and (min-width: 990px) {
  html {
    font-size: 16px;
  }

}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .main-container {
    max-width: 1140px;
  }
}
@media (max-width:350px){
  .contentBx h3{
    font-size:13px;
    margin-bottom:5px;
  }
 .contentBx p{
    font-size:10px;
 } 
  .heading h2{
    font-size:15px;
  }
  .heading{
    margin-bottom:7px;
  }

}
/*----------Cookies-----------*/
.cookies-box{
  position:fixed;
  bottom:0;
  background:#119;
  width:100%;
  display:flex;
  justify-content:center;
  z-index:10000;
}
.cookies-box .container-cookies{
  padding:20px 0;
  max-width:90%;
  display:flex;
  align-items:center;
}
.cookies-box .container-cookies .parrafo{

}
.cookies-box .container-cookies .parrafo p{
  color:#fff;
}
.enlace{
  color:#ccc;
}
.cookies-box .container-cookies .botones{
  display:flex;
  flex-direction:column;
  margin-left:10px;
}
.cookies-box .container-cookies .botones button{
  background:transparent;
  color:#fff;
  border:1px solid #fff;
  padding:5px 10px;
  cursor:pointer;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-raiuds:30px;
  /*transition: all 200ms ease in;
  -webkit-transition: all 200ms ease in;
  -moz-transition: all 200ms ease in;
  -ms-transition: all 200ms ease in;
  -o-transition: all 200ms ease in;
*/
}
.cookies-box .container-cookies .botones button:hover{
  color:#119;
  background:#fff;
}
.cookies-box .container-cookies .botones button:last-child{
  margin-top:5px;
}
